# **AIN 214 - PA1 - FALL 2024**

**Name Surname**   : Furkan Necati Ä°NAN


BELOW MD CELLS CONTAIN THE QUESTIONS YOU ARE ASKED TO IMPLEMENT WITHIN THE CONTEXT OF THIS HW. PLEASE FILL IN THE CELLS FOR THE ANSWERS RIGHT BELOW THE MD CELL OF THE QUESTION. YOU CAN ADD AS MANY CELLS AS YOU WANT, BE IT CODE OR MD, SO LONG AS YOU PROVIDE AN UNDERSTANDABLE AND TRACBLE REPORTING. PLEASE ADD COMMENTS ON YOUR CODES. ALSO, FILL IN MD CELLS WHERE YOU ARE ASKED YO COMMENT ON YOUR RESULTS OR EPXLAIN YOUR REASONING. ALSO, PLEASE DO NO HESITATE TO USE THEM FOR YOUR OWN REPORTING PURPOSES. PLEASE KEEP IN MIND THAT, REPORTING IS A KEY STEP IN DATA SCIENCE.

**Deadline: 18.10.2023 (23:59:59)**

**Submission:** Submit your Jupyter Notebooks via https://submit.cs.hacettepe.edu.tr/

# **Necessary Imports**

In [4]:
import sqlite3
import pandas as pd
import numpy as np

# **Notes:**

* Use pandas dataframe (df) to load the data.

* Use numpy or pandas operations for the requested tasks unless otherwise specified.

* Use of naive for loops is not considered valid.

* For the db operations, use sqlite3 library in Python

# **PART- 1**

**Set of Questions on World Happiness Report Dataset (40 Pts)**

**Dataset Path: "Data/WorldHappinessReport.csv"**

# Q1. Basic Data Exploration **(10 Pts)**

1. Load the data into Pandas DataFrame and print the column names. **(1 pts)**
2. Display the first and last 10 rows of the dataset. **(1 pts)**
3. Display random 10 rows. **(1 pts)**
4. Display random 10 rows with a seed, ie, it outputs the same random rows everytime it is run. **(1 pts)**
5. Display every 10th row. **(1 pts)**
6. Get the summary stats of the dataset regarding each column. **(2 pts)**
7. Identify and count the number of missing values in each column. **(3 pts)**

In [9]:
#1 Load the data into Pandas DataFrame and print the column names
df = pd.read_csv("Data/WorldHappinessReport.csv")

In [11]:
#2 Display the first and last 10 rows of the dataset.
print(df.head(10))
print(df.tail(10))

   Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.632           1.305           1.592
1             2            Norway  7.594           1.456           1.582
2             3           Denmark  7.555           1.351           1.590
3             4           Iceland  7.495           1.343           1.644
4             5       Switzerland  7.487           1.420           1.549
5             6       Netherlands  7.441           1.361           1.488
6             7            Canada  7.328           1.330           1.532
7             8       New Zealand  7.324           1.268           1.601
8             9            Sweden  7.314           1.355           1.501
9            10         Australia  7.272           1.340           1.573

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.874                         0.681       0.202
1                    0.861                         0.686       0.286
2                    0.868                         0.683       0.284
3                    0.914                         0.677       0.353
4                    0.927                         0.660       0.256
5                    0.878                         0.638       0.333
6                    0.896                         0.653       0.321
7                    0.876                         0.669       0.365
8                    0.913                         0.659       0.285
9                    0.910                         0.647       0.361

   Perceptions of corruption
0                      0.393
1                      0.340
2                      0.408
3                      0.138
4                      0.357
5                      0.295
6                      0.291
7                      0.389
8                      0.383
9                      0.302
     Overall rank         Country or region  Score  GDP per capita  \
146           147                    Malawi  3.587           0.186
147           148                     Haiti  3.582           0.315
148           149                   Liberia  3.495           0.076
149           150                     Syria  3.462           0.689
150           151                    Rwanda  3.408           0.332
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
146           0.541                    0.306                         0.531
147           0.714                    0.289                         0.025
148           0.858                    0.267                         0.419
149           0.382                    0.539                         0.088
150           0.896                    0.400                         0.636
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption
146       0.210                      0.080
147       0.392                      0.104
148       0.206                      0.030
149       0.376                      0.144
150       0.200                      0.444
151       0.083                      0.064
152       0.270                      0.097
153       0.224                      0.106
154       0.218                      0.038
155       0.149                      0.076

In [13]:
#3 Display the random 10 rows
df.sample(n=10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
75,76,Hong Kong,5.430,1.405,1.290,1.030,0.524,0.246,0.291
17,18,United States,6.886,1.398,1.471,0.819,0.547,0.291,0.133
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
126,127,Ethiopia,4.350,0.308,0.950,0.391,0.452,0.220,0.146
102,103,Gabon,4.758,1.036,1.164,0.404,0.356,0.032,0.052
49,50,Lithuania,5.952,1.197,1.527,0.716,0.350,0.026,0.006
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
88,89,Macedonia,5.185,0.959,1.239,0.691,0.394,0.173,0.052
99,100,Bulgaria,4.933,1.054,1.515,0.712,0.359,0.064,0.009
117,118,Mali,4.447,0.370,1.233,0.152,0.367,0.139,0.056

In [15]:
#4 sample using seed
np.random.seed(42)
df.sample(n=10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
96,97,Bhutan,5.082,0.796,1.335,0.527,0.541,0.364,0.171
69,70,Libya,5.566,0.985,1.350,0.553,0.496,0.116,0.148
82,83,Dominican Republic,5.302,0.982,1.441,0.614,0.578,0.120,0.106
76,77,Portugal,5.410,1.188,1.429,0.884,0.562,0.055,0.017
114,115,Bangladesh,4.500,0.532,0.850,0.579,0.580,0.153,0.144
29,30,Guatemala,6.382,0.781,1.268,0.608,0.604,0.179,0.071
94,95,Vietnam,5.103,0.715,1.365,0.702,0.618,0.177,0.079
132,133,India,4.190,0.721,0.747,0.485,0.539,0.172,0.093
93,94,Mongolia,5.125,0.914,1.517,0.575,0.395,0.253,0.032
139,140,Guinea,3.964,0.344,0.792,0.211,0.394,0.185,0.094

In [17]:
#5 Display every 10th row
df.iloc[::10]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
20,21,Czech Republic,6.711,1.233,1.489,0.854,0.543,0.064,0.034
30,31,Uruguay,6.379,1.093,1.459,0.771,0.625,0.130,0.155
40,41,Nicaragua,6.141,0.668,1.319,0.700,0.527,0.208,0.128
50,51,Slovenia,5.948,1.219,1.506,0.856,0.633,0.160,0.051
60,61,Cyprus,5.762,1.229,1.191,0.909,0.423,0.202,0.035
70,71,Philippines,5.524,0.775,1.312,0.513,0.643,0.120,0.105
80,81,Montenegro,5.347,1.017,1.279,0.729,0.259,0.111,0.081
90,91,Nigeria,5.155,0.689,1.172,0.048,0.462,0.201,0.032
100,101,Nepal,4.880,0.425,1.228,0.539,0.526,0.302,0.078
110,111,Tunisia,4.592,0.900,0.906,0.690,0.271,0.040,0.063
120,121,Burkina Faso,4.424,0.314,1.097,0.254,0.312,0.175,0.128
130,131,Chad,4.301,0.358,0.907,0.053,0.189,0.181,0.060
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112
150,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444

In [19]:
#6 Get the summary stats of the dataset regarding each column
df.describe(include='all')

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
unique,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,78.500000,NaN,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,NaN,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,NaN,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,NaN,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,NaN,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,NaN,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,NaN,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [21]:
#7 Identify and count the number of missing values in each column
df.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

# Q2. Basic Data Statistics: **(10 Pts)**

1. Calculate the mean, median, and standard deviation of the happiness Score across all countries. **(1 Pts)**
2. Identify the top 5 happiest countries and the bottom 5 least happy countries based on happiness Score. **(1 Pts)**
3. Find the country with the highest Healthy Life Expectancy. What is the corresponding happiness Score? **(2 Pts)**
4. Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6. **(2 Pts)**
5. Are there any countries where Generosity is higher than Social Support? List them. **(2 Pts)**
6. What is the range (max-min) of GDP per Capita values in the dataset? **(2 Pts)**

In [24]:
#1
mean_score = df['Score'].mean()
median_score = df['Score'].median()
std_dev_score = df['Score'].std()
print(f"Mean of happiness Score: {mean_score}")
print(f"Median of happiness Score: {median_score}")
print(f"Standard Deviation of happiness Score: {std_dev_score}")

Mean of happiness Score: 5.375916666666667
Median of happiness Score: 5.378
Standard Deviation of happiness Score: 1.119505852731943

In [26]:
#2
sorted_df = df.sort_values(by='Score', ascending=False)
top_five = sorted_df.head(5)
bot_five = sorted_df.tail(5)

print(top_five[['Country or region', 'Score']])
print(bot_five[['Country or region', 'Score']])

  Country or region  Score
0           Finland  7.632
1            Norway  7.594
2           Denmark  7.555
3           Iceland  7.495
4       Switzerland  7.487
            Country or region  Score
151                     Yemen  3.355
152                  Tanzania  3.303
153               South Sudan  3.254
154  Central African Republic  3.083
155                   Burundi  2.905

In [28]:
#3
sorted_df_by_healthy = df.sort_values(by='Healthy life expectancy', ascending=False)
top_healthy_country = sorted_df_by_healthy[['Country or region', 'Healthy life expectancy', 'Score']].head(1)
print(top_healthy_country)

   Country or region  Healthy life expectancy  Score
75         Hong Kong                     1.03   5.43

In [34]:
#4 Calculate the average Corruption Perceptions for countries with a happiness Score greater than 6. (2 Pts)
greater_six_df = df[df['Score'] > 6]
acp = greater_six_df['Perceptions of corruption'].mean()
print("Average Corruption Perceptions", acp)

average Corruption Perceptions 0.1782888888888889

In [40]:
#5 Are there any countries where Generosity is higher than Social Support? List them. (2 Pts)
generosity_higher = df[df['Generosity'] > df['Social support']]
print(generosity_higher[['Country or region', 'Generosity', 'Social support']])

            Country or region  Generosity  Social support
154  Central African Republic       0.218             0.0

In [42]:
#6 What is the range (max-min) of GDP per Capita values in the dataset? (2 Pts)
range = df['GDP per capita'].max() - df['GDP per capita'].min()
print("Range of GDP per Capita: ",range)

Range of GDP per Capita:  2.096

# Q3. Data Filtering **(20 Pts)**

1. How many countries have a Happiness Score greater than 7.5? List their names.**(2 Pts)**
2. List all countries where the Corruption Perception score is below 0.2. **(2 Pts)**
3. Filter and list the top 5 countries by Generosity. What is their average Happiness Score? **(2 Pts)**
4. Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries. **(2 Pts)**
5. Filter countries where Social Support is higher than Freedom to Make Life **(2 Pts)**
6. Find countries in the top 10% of Healthy Life Expectancy and list their names. **(2 Pts)**
7. Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries? **(2 Pts)**
8.  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries? **(3 Pts)**
9. Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there? **(3 Pts)**

In [44]:
#1. How many countries have a Happiness Score greater than 7.5? List their names.**(2 Pts)**

greater_than_7_5 = df[df['Score'] > 7.5]
print(greater_than_7_5['Country or region'])
print(f"Number of countries with a happiness score greater than 7.5: {len(greater_than_7_5)}")

0    Finland
1     Norway
2    Denmark
Name: Country or region, dtype: object
Number of countries with a happiness score greater than 7.5: 3

In [48]:
#2. List all countries where the Corruption Perception score is below 0.2. **(2 Pts)**

less_than_0_2 = df[df['Perceptions of corruption'] < 0.2]
print(less_than_0_2['Country or region'])
print(f"Number of countries with corruption perception score below 0.2: {len(less_than_0_2)}")

3                       Iceland
10               United Kingdom
12                   Costa Rica
17                United States
20               Czech Republic
                 ...
151                       Yemen
152                    Tanzania
153                 South Sudan
154    Central African Republic
155                     Burundi
Name: Country or region, Length: 134, dtype: object
Number of countries with corruption perception score below 0.2: 134

In [234]:
#3. Filter and list the top 5 countries by Generosity. What is their average Happiness Score? **(2 Pts)**
ordered_by_generosity = df.sort_values(by='Generosity', ascending=False)
top_five_generosity = ordered_by_generosity.head()
average_H_score = top_five_generosity['Score'].mean()
print(average_H_score)

4.6144

In [235]:
#4. Find countries where GDP per Capita is less than 0.5 but the Happiness Score is above 4. List the countries. **(2 Pts)**
countries = df[(df['GDP per capita']<0.5) & (df['Score']>4)]
print(countries['Country or region'])

87           Tajikistan
97              Somalia
100               Nepal
108             Senegal
112        Sierra Leone
117                Mali
120        Burkina Faso
122          Mozambique
123               Kenya
126            Ethiopia
130                Chad
131    Congo (Kinshasa)
133               Niger
134              Uganda
135               Benin
Name: Country or region, dtype: object

In [236]:
#5. Filter countries where Social Support is higher than Freedom to Make Life **(2 Pts)**

countries = df[df['Social support'] > df['Freedom to make life choices']]


print(countries[['Country or region', 'Social support', 'Freedom to make life choices']])

    Country or region  Social support  Freedom to make life choices
0             Finland           1.592                         0.681
1              Norway           1.582                         0.686
2             Denmark           1.590                         0.683
3             Iceland           1.644                         0.677
4         Switzerland           1.549                         0.660
..                ...             ...                           ...
150            Rwanda           0.896                         0.636
151             Yemen           1.073                         0.244
152          Tanzania           0.991                         0.481
153       South Sudan           0.608                         0.112
155           Burundi           0.627                         0.065

[154 rows x 3 columns]

In [237]:
#6. Find countries in the top 10% of Healthy Life Expectancy and list their names. **(2 Pts)**
threshold = df['Healthy life expectancy'].quantile(0.90)
top_10 = df[df['Healthy life expectancy'] >= threshold]
print(top_10['Country or region'])

3             Iceland
4         Switzerland
6              Canada
8              Sweden
9           Australia
15            Belgium
16         Luxembourg
22             France
33          Singapore
35              Spain
46              Italy
53              Japan
56        South Korea
57    Northern Cyprus
60             Cyprus
75          Hong Kong
Name: Country or region, dtype: object

In [54]:
#7. Filter and list countries where Generosity is less than Social Support. What is the average Happiness Score of these countries? **(2 Pts)**
countries1 = df[(df['Social support'] > df['Generosity'])]
print("Average happiness score of countries where Generosity is less than Social Support: ", countries1['Score'].mean())

Average happiness score of countries where Generosity is less than Social Support:  5.390709677419355

In [56]:
#8.  Find all countries with a Happiness Score below the median happiness score. How many are there, and what are the common characteristics of these countries? **(3 Pts)**
med_value = df['Score'].median()
below_med = df[df['Score'] < med_value]
print(f"Number of countries with happiness score below the median: {len(below_med)}")
print(below_med['Country or region'])

Number of countries with happiness score below the median: 78
78                       Greece
79                      Lebanon
80                   Montenegro
81                      Croatia
82           Dominican Republic
                 ...
151                       Yemen
152                    Tanzania
153                 South Sudan
154    Central African Republic
155                     Burundi
Name: Country or region, Length: 78, dtype: object

In [58]:
#9. Filter countries where both Freedom to Make Life Choices and Healthy Life Expectancy are above the global median. How many such countries are there? **(3 Pts)**
median_healthy_life = df['Healthy life expectancy'].median()
median_freedom = df['Freedom to make life choices'].median()


countries = df[(df['Healthy life expectancy'] > median_healthy_life) & (df['Freedom to make life choices'] > median_freedom)]

print(f"Number of countries where both Freedom and Healthy Life Expectancy are above the median: {len(countries)}")
print(countries['Country or region'])

Number of countries where both Freedom and Healthy Life Expectancy are above the median: 47
0              Finland
1               Norway
2              Denmark
3              Iceland
4          Switzerland
5          Netherlands
6               Canada
7          New Zealand
8               Sweden
9            Australia
11             Austria
12          Costa Rica
13             Ireland
14             Germany
15             Belgium
16          Luxembourg
17       United States
18              Israel
20      Czech Republic
21               Malta
22              France
26              Panama
27              Brazil
28           Argentina
30             Uruguay
31               Qatar
33           Singapore
40           Nicaragua
41              Poland
42             Bahrain
44              Kuwait
45            Thailand
47             Ecuador
50            Slovenia
51             Romania
53               Japan
54           Mauritius
55             Jamaica
57     Northern Cyprus
62             Estonia
64                Peru
75           Hong Kong
76            Portugal
79             Lebanon
85               China
94             Vietnam
115          Sri Lanka
Name: Country or region, dtype: object

# **PART- 2**

**Set of Questions on the passenger_demographics.csv and passenger_survival.csv** **(25 Pts)**

**Dataset Path: "Data/passenger_demographics.csv" and "Data/passenger_survival.csv"**

# Q1. Data Merging and Consistency Checking


1. Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset? **(3 Pts)**
2. Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame. **(3 Pts)**
3. Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders. **(3 Pts)**
4. Analyze the effect of age on survival probability. Determine whether age significantly affects the probability of survival. Use statistical techniques to explore this relationship.(use binning) **(4 Pts)**
5. Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival. **(4 Pts)**
6. Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate. **(4 Pts)**
7. Evaluate the correlation between Fare and Survival. Determine if there is a correlation between the fare paid and the survival status of the passengers. **(4 Pts)**

In [62]:
#1. Merge the datasets on PassengerId into a single DataFrame. How many rows are there in the merged dataset? **(3 Pts)**
df1 = pd.read_csv("Data/passenger_demographics.csv")
df2 = pd.read_csv("Data/passenger_survival.csv")
merged_df = pd.merge(df1,df2,on='PassengerId',how='inner')
print(len(merged_df))

891

In [64]:
#2. Perform a consistency check for duplicated rows. After merging, check for any duplicated rows in the merged dataset and provide a summary of your findings. Provide the details (average, mean, etc.) of each feature in the merged DataFrame. **(3 Pts)**
duplicated_rows = merged_df[merged_df.duplicated()]
print(f"Number of duplicated rows: {len(duplicated_rows)}")


summary_statistics = merged_df.describe()
print(summary_statistics)


missing_values = merged_df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Number of duplicated rows: 0
       PassengerId      Pclass         Age       SibSp       Parch  \
count   891.000000  891.000000  714.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594
std     257.353842    0.836071   14.526497    1.102743    0.806057
min       1.000000    1.000000    0.420000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000
50%     446.000000    3.000000   28.000000    0.000000    0.000000
75%     668.500000    3.000000   38.000000    1.000000    0.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000

         Survived        Fare
count  891.000000  891.000000
mean     0.383838   32.204208
std      0.486592   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      1.000000   31.000000
max      1.000000  512.329200
Missing values in each column:
PassengerId      0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Survived         0
Fare             0
Embarked         2
dtype: int64

In [245]:
#3. Determine the survival rate for each passenger class and gender. Analyze how the survival rate varies among different classes (Pclass) and genders. **(3 Pts)**
survival_rate = merged_df.groupby(['Pclass','Sex'])['Survived'].mean()
print(survival_rate)

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [246]:
bins = [0, 12, 18, 30, 50, 80]  
labels = ['Child', 'Teenager', 'Young', 'Adult', 'Old']  
merged_df['Age Group'] = pd.cut(merged_df['Age'], bins=bins, labels=labels, right=False)

survival_rate_by_age = merged_df.groupby('Age Group', observed=True)['Survived'].mean()

print(survival_rate_by_age)

Age Group
Child       0.573529
Teenager    0.488889
Young       0.350554
Adult       0.417969
Old         0.356164
Name: Survived, dtype: float64

In [247]:
#5. Investigate the impact of family size on survival. Determine if family size (based on the number of siblings/spouses and parents/children aboard) has any correlation with survival. **(4 Pts)**

merged_df['Family Size'] = merged_df['SibSp'] + merged_df['Parch'] + 1

survival_rate_by_family_size = merged_df.groupby('Family Size')['Survived'].mean()

correlation = merged_df[['Family Size', 'Survived']].corr().iloc[0, 1]

print("Correlation: " , correlation)

Correlation:  0.01663898928274523

In [248]:
#6. Determine the most common embarkation point among survivors. Find out which embarkation point (C, Q, or S) had the highest survival rate. **(4 Pts)**
most_common_embarked_survivors = merged_df[merged_df['Survived'] == 1]['Embarked'].mode()[0]

survival_rate_by_embarked = merged_df.groupby('Embarked')['Survived'].mean()

print("Most common embarked survivors: ", most_common_embarked_survivors)

print("Survival rate by embarked: ", survival_rate_by_embarked)

Most common embarked survivors:  S
Survival rate by embarked:  Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [249]:
correlation = merged_df[['Fare', 'Survived']].corr().iloc[0, 1]
print("Correlation: ", correlation)

Correlation:  0.25730652238496265

# **PART- 3**

**Set of Questions on SQL - using sqlite3 library!**

**Dataset Path: "Data/supermarket_sales.csv"**


The Supermarket Sales Dataset is a comprehensive dataset designed to provide insights into the sales performance of a supermarket.

We want to store this data in a relational database, with the following table schemas:

# Tables

## 1. Branches Table

| Column   | Type  | Key      | Description                              |
|----------|-------|----------|------------------------------------------|
| BranchID | INTEGER  | PRIMARY  | Unique identifier for each branch        |
| Branch | TEXT  |            |    Name of the supermarket branch        |
| City     | TEXT  |          | City where the branch is located         |



## 2. Products Table

| Column      | Type  | Key      | Description                               |
|-------------|-------|----------|-------------------------------------------|
| ProductID | INTEGER  | PRIMARY  | Unique identifier for each product line   |
| ProductLine | TEXT  |          | Category of the product |



## 3. Orders Table

| Column        | Type  | Key      | Description                                    |
|---------------|-------|----------|------------------------------------------------|
| OrderID       | TEXT  | PRIMARY  | Unique identifier for each order               |
| BranchID      | INTEGER  |   FK       | Identifier for the branch of the order    |
| ProductID   | INTEGER  |      FK    | Identifier linking to Products table ordered                      |
| Quantity      | INTEGER |        | Number of units ordered                        |
| UnitPrice   | REAL  |          | Price per unit of the product             |Total         | REAL  |          | Total sales value for the order               |
| OrderDate     | TEXT  |          | Date when the order was placed                |
| PaymentMethod | TEXT  |          | Method used for payment                       |
| CustomerType  | TEXT  |          | Type of customer (e.g., Member, Normal)     |
| Gender        | TEXT  |          | Gender of the customer                        |

Summary of Table Structures

* Branches Table contains information about different supermarket branches.

* Products Table details the various products available for purchase.
* Orders Table records the transactions made, linking products and branches to specific purchases.

# **Questions** **(35 Pts)**

1. Read the csv file and create this DB **(10 Pts)**
2. Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement. **(4 Pts)**
3. Find the total revenue generated for each branch by product line **(4 Pts)**
4. Find the total sales for each branch **(3 Pts)**
5. Determine the number of orders placed by each gender **(3 Pts)**
6. List the product lines sold in each branch and the number of orders **(4 Pts)**
7. Find the highest quantity sold for a single order and the corresponding product line **(4 Pts)**
8. Check for duplicated invoices **(3 Pts)**

In [66]:
#1 Read the csv file and create this DB **(10 Pts)**
import pandas as pd
import sqlite3

df = pd.read_csv('Data/supermarket_sales.csv')

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

df.to_sql('my_table', conn, if_exists='replace', index=False)

1005

In [68]:
#2 Write a query to find the top 3 product lines with the highest total quantity sold, using a LIMIT statement. **(4 Pts)**
import sqlite3

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

cursor.execute("""
    SELECT "Product line", SUM(Quantity) as Total_Quantity
    FROM my_table
    GROUP BY "Product line"
    ORDER BY Total_Quantity DESC
    LIMIT 3
""")

rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('Electronic accessories', 971)
('Food and beverages', 953)
('Home and lifestyle', 922)

In [70]:
#3 Find the total revenue generated for each branch by product line **(4 Pts)**

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT Branch, "Product line", SUM(Quantity * "Unit price") as Total_Revenue
    FROM my_table
    GROUP BY Branch, "Product line"
""")
rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('A', 'Electronic accessories', 17444.869999999995)
('A', 'Fashion accessories', 16173.15)
('A', 'Food and beverages', 16377.649999999998)
('A', 'Health and beauty', 11997.859999999999)
('A', 'Home and lifestyle', 21415.530000000002)
('A', 'Sports and travel', 18450.190000000002)
('B', 'Electronic accessories', 16239.470000000001)
('B', 'Fashion accessories', 15631.729999999998)
('B', 'Food and beverages', 14490.369999999999)
('B', 'Health and beauty', 19029.199999999997)
('B', 'Home and lifestyle', 17687.290000000005)
('B', 'Sports and travel', 19036.38)
('C', 'Electronic accessories', 18065.690000000006)
('C', 'Fashion accessories', 20533.399999999998)
('C', 'Food and beverages', 22635.1)
('C', 'Health and beauty', 15864.47)
('C', 'Home and lifestyle', 13233.86)
('C', 'Sports and travel', 15011.360000000002)

In [72]:
#3 Find the total revenue generated for each branch by product line **(4 Pts)**

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT Branch, SUM(Quantity * "Unit price") as Total_Revenue
    FROM my_table
    GROUP BY Branch
""")
rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('A', 101859.25000000007)
('B', 102114.43999999993)
('C', 105343.88)

In [74]:
#5 Determine the number of orders placed by each gender **(3 Pts)**

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT Gender, COUNT(DISTINCT "Invoice ID") as Total_Orders
    FROM my_table
    GROUP BY Gender
""")
rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('Female', 501)
('Male', 499)

In [76]:
#6 List the product lines sold in each branch and the number of orders **(4 Pts)**


conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT Branch, "Product line", COUNT(DISTINCT "Invoice ID") as Total_Orders
    FROM my_table
    GROUP BY Branch, "Product line"
""")
rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('A', 'Electronic accessories', 60)
('A', 'Fashion accessories', 51)
('A', 'Food and beverages', 58)
('A', 'Health and beauty', 47)
('A', 'Home and lifestyle', 65)
('A', 'Sports and travel', 59)
('B', 'Electronic accessories', 55)
('B', 'Fashion accessories', 62)
('B', 'Food and beverages', 50)
('B', 'Health and beauty', 53)
('B', 'Home and lifestyle', 50)
('B', 'Sports and travel', 62)
('C', 'Electronic accessories', 55)
('C', 'Fashion accessories', 65)
('C', 'Food and beverages', 66)
('C', 'Health and beauty', 52)
('C', 'Home and lifestyle', 45)
('C', 'Sports and travel', 45)

In [80]:
#7 Find the highest quantity sold for a single order and the corresponding product line **(4 Pts)**



conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT "Invoice ID", "Product line", Quantity
    FROM my_table
    ORDER BY Quantity DESC
    LIMIT 1;

""")

rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('315-22-5665', 'Home and lifestyle', 10)

In [262]:
#8 Check for duplicated invoices **(3 Pts)**

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("""
    SELECT "Invoice ID", COUNT(*)
    FROM my_table
    GROUP BY "Invoice ID"
    HAVING COUNT(*) > 1;
""")

rows = cursor.fetchall()


for row in rows:
    print(row)

conn.close()

('233-67-5758', 2)
('303-96-2227', 2)
('347-56-2442', 2)
('727-02-1313', 2)
('849-09-3807', 2)

# SUBMIT FORMAT

* **<-zip>**
  - **studentID_name_surname_hw1.ipynb**

# PLAGIARISM

All work on assignments must be done individually. You are encouraged to discuss the given assignments with your classmates, but these discussions should be carried out in an abstract way. That is, discussions related to a particular solution to a specific probem (either in actual code or in pseudocode) will not be tolerated. In short, turning in someone elseâs work (including work available on the internet), in whole or in part, as your own will be considered as a violation of academic integrity. Please note that the former conditions also hold for the material attained using AI tools, including ChatGPT, GitHub Copilot, etc.